# Docker compose environment for local development
version: '3'

volumes:
  grafana_data: {}
  prometheus_data: {}

services:
  s3:
    image: quay.io/minio/minio:latest
    ports:
      - 9000:9000 # S3 API at http://127.0.0.1:9000
      - 9001:9001 # admin console at http://127.0.0.1:9001
    command: ['server', '/data', '--console-address', ':9001']
    environment:
      MINIO_ROOT_USER: 'minioadmin'
      MINIO_ROOT_PASSWORD: 'minioadmin'

  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin

  # PDF Service must be first build in PDF Service Repository
  pdf:
    image: fdpgpdfservice:latest
    restart: always
    ports:
      - 8081:3000
    environment:
      ENABLE_TELEMETRY: false
      PRINT_FRONTEND_HOST: http://localhost:3000

  # 1. Prometheus Service
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - '9090:9090'
    volumes:
      - ./docker_compose_files/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  # 2. Grafana Service
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - '3099:3000' # Access Grafana on http://localhost:3000
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
